* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}
img {
  border-radius: 50%;
  border: 2px solid steelblue;
  height: 200px;
  width: 200px;
}
nav {
  background-color: #afeeee;
  text-align: right;
  padding: 10px;
  color: white;
}
section {
  background-image:url('/Users/timothyallen/turing/2module/projects/dog-party/images/park.jpg');
  background-size: cover;
}
table {
  display: grid;
  vertical-align: middle;
}
footer {
  background-color: steelblue;
  color: white;
}
.dog {
  display: table-cell;
  padding: 20px;
  width: 33%;
  padding-left: 55px;
}
a {
  padding-left: 10px;
}
h1 {
  font-weight: normal;
  padding: 30px;
}
h2 {
  padding: 20px;
  font-weight: normal;
  font-size: larger;
}
figcaption {
  padding: 30px;
}
#bottom-link {
  padding: 10px;
  text-decoration: underline;
}
.icon {
  border-radius: 0%;
  height: 50px;
  width: 50px;
  padding: 20px;
}
.button {
  display: inline-block;
  margin: 20px;
  margin-bottom: 40px;
  background-color: white;
  color: steelblue;
  border: 2px solid steelblue;
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}
#home-button {
  height: 20px;
  float: left;
  border: 0;

}
#main {
  height: 300px;
  width: 300px;
}
